

    <td><input type="text" id="titre{{ id }}" value="{{ news.titre }}"></td>
    <td><textarea id="description{{ id }}" >{{ news.description }}</textarea></td>
    <td><button onclick="saveModificationNews({{id}})">save</button> </td>


