
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href={{ path('index') }}>index</a>
            <a class="nav-item nav-link" href={{ path('news', {p:5}) }}>Afficher news</a>
            <a class="nav-item nav-link" href={{ path('newsForm') }}>insérer news</a>
            <a class="nav-item nav-link" href={{ path('Comment', {id:5}) }}>Comment news</a>
            <a class="nav-item nav-link" href={{ path('newsAdmin') }}>Admin news</a>


        </div>
    </div>
</nav>